/* This is the style for the website */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* This is the style for the index.html web page */
ul .home.child1 {
    color: blue;
}

ul .home.child2 {
    color: green;
}

ul .home.child3 {
    color: burlywood;
}

ul .home.child4 {
    color: greenyellow;
}

/* This is the style for the lasagna web page */
#title-las {
    background-color: yellow;
}

#title-second-first-las {
    background-color: blue;
}

#title-second-second-las {
    background-color: orange;
}

h3 {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
}

/* This is the style for the salmon web page */
.image-of-our-salmon {
    width: 400px;
    height: 200px;
}

.title-salmon {
    background-color: yellow;
}

h2 {
    background-color: blue;
}

/* This is the style for chef John's roasted leg of lamb web page */
.title-of-roasted-leg-of-lamb {
    background-color: yellow;
}


/* This is the style for the french casserole web page */
.title-for-our-french {
    background-color: yellow;
}